<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<h2>Listado de tareas</h2>
	<table>
		<tr>
 			<th (click)="ordenarTarea()">Tarea</th>
			<th (click)="ordenarTiempo()" >Tiempo (minutos)</th>
			<th>Acciones</th>
		</tr>
		<tr [ngClass]="tarea.isHightlighted ? 'hightlighted' : ''" (dblclick)="setEditTareaMode(tarea)" *ngFor="let tarea of tareas">
			<td *ngIf="verCelda(tarea)">{{tarea.titulo}}</td>
			<td *ngIf="verCelda(tarea)">{{tarea.minutos}}</td>

			<td *ngIf="!verCelda(tarea)">
				<input [(ngModel)]="tareaTitulo" type="text"  />
			</td>
			<td *ngIf="!verCelda(tarea)">
				<input [(ngModel)]="tareaTiempo" type="number" />
			</td>

			<td class="acciones">
				<p><a href="" (click)="eliminar(tarea, $event)">Eliminar</a></p>
				<p><a href="" (click)="destacar(tarea, $event)">{{ tarea.isHightlighted ? 'Desactivar' : 'Destacar'}}</a></p>

				<label for="">
					<input [(ngModel)]="tarea.isSelected" type="checkbox">
				</label>
			</td>

		</tr>
	</table>

	<div class="buttons-section">
		<button (click)="anyadirTarea()">Añadir tarea</button>
		<button (click)="eliminarSelected()">Eliminar Tareas Seleccionadas</button>
		<button (click)="ramdonOrder()">Ramdon Order</button>
	</div>
	

</div>